<div class="ui grid" *ngIf="padlet">
  <div class="twelve wide column">
    <h1 class="ui header">{{ padlet.title }}</h1>
    <div class="sixteen wide column">
      <h3 class="ui header">Beschreibung</h3>
      {{ padlet.description }}
    </div>
    <div class="ui divider"></div>
    <div>Erstellt am: {{ padlet.created_at | date:'dd.MM.yyyy' }}</div>
    <div>Zuletzt bearbeitet am: {{ padlet.updated_at | date:'dd.MM.yyyy' }}</div>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="sixteen wide column">
        <h4 class="ui header">User</h4>
        <b>Ersteller:</b><br>
        <span>
          <img class="ui avatar image" src="{{ padlet.user.image }}" width="10em">
          {{ padlet.user.firstname }} {{ padlet.user.lastname }}
        </span><br><br>
        <b>Mitglieder:</b><br>
        <span *ngFor="let user of padlet.users; last as l">
          <img class="ui avatar image" src="{{ user.image }}" width="10em">
                {{ user.firstname }} {{ user.lastname }}<span *ngIf="!l">,</span><br>
        </span><br>
      </div>
    </div>
    <div class="twelve wide column">
      <b>Einträge:</b><br>
      <span *ngFor="let entry of padlet?.entries; last as l">
        <div class="ui card">
          <div class="ui content block">
              <h5 class="ui header">{{ entry.title}}</h5>
               {{ entry.description }} <br><br>
                Erstellt von User mit der ID: {{ entry.user_id }} <br><br>
                <div>
                  <i class="teal heart icon"></i>
                  <i class="teal heart icon"></i>
                  <i class="teal heart icon"></i>
                  <i class="teal heart icon"></i>
                  <i class="grey heart icon"></i>
                </div> <br>
              <a *ngIf="authService.isLoggedIn()" class="ui tiny teal icon button" [routerLink]="['/padlets/', padlet.id, 'entries', entry.id]">
                <i class="write icon"></i>Eintrag bearbeiten
              </a>
          </div>
        </div><br>
      </span>
    </div>
    <div class="one wide field">
          <button *ngIf="authService.isLoggedIn()" (click)="addEntriesControl()" class="ui large button" type="button"
                  [routerLink]="['/padlets/', padlet.id, 'entries']">+</button>
    </div><br><br>

    <button [routerLink]="'/padlets'" class="ui tiny blue button">
      <i class="arrow left icon"></i>Zurück zur Liste
    </button>

    <a *ngIf="authService.isLoggedIn()" class="ui tiny teal icon button" [routerLink]="['../../newpadlet/', padlet.id]">
      <i class="write icon"></i>Padlet bearbeiten
    </a>

    <button *ngIf="authService.isLoggedIn()" class="ui tiny violet labeled icon button" (click)="removePadlet()">
      <i class="remove icon"></i>Padlet löschen
    </button>

  </div>
</div>

